.blog_entry a{
    color: rgb(0,0,0);
    text-decoration: none;
  }
  .blog_entry a:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
  }

  .main{
    background: rgb(226, 236, 229);
    padding: 0 20px 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .comments{
    background: rgb(187, 207, 203);
    width: 50%;
    margin: 50px;
    padding: 0 20px 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    font-weight: lighter;
  }
  
  .user{
    font-weight: bold;
  }
  
