.blog {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(4, 9, 30, 0.3);
    border: 5px solid black;
    border-radius: 10px;
    border-style: double;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .title {
    font-weight: bold;
    font-size: 20pt;
    align-self: center;
  }
  
  .date {
    font-size: 14px;
    color: #555;
  }
  
  .description {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .blogContent {
    display: flex;
    flex-wrap: row;
  }
  
  .image {
    max-width: 500px;
    max-height: 500px;
    margin-right: 20px;
    height: auto;
  }
  
  .content {
    flex: 1;
    font-size: 18px;
  }
  
  .commentSection {
    margin-top: 20px;
  }
  
  /* Style for Comment component (adjust as needed) */
  .commentSection {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .commentSection > div {
    margin-bottom: 15px;
  }