.commentsContainer {
  margin-top: 30px;
  background-color: #fff;
  padding: 15px;
}

.comment {
  background-color: #fff;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #eaeaea;
}

.comment:first-child {
  margin-top: 0;
}

.commentUser {
  color: #333;
  margin-bottom: 4px;
  font-weight: bold;
}

.commentText {
  color: #333;
  margin: 5px 0;
}

.commentDate {
  text-align: right;
  color: #666;
  margin-top: 8px;
  font-style: normal;
}

.commentForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 15px;
  border: 1px solid #eaeaea;
  margin-top: 20px;
}

.usernameInput,
.commentInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  resize: vertical;
  box-sizing: border-box;
}

.commentButton {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.commentButton:hover {
  background-color: #444;
}
