.project{
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}

.no-project{
    display: flex;
    text-align: center;
    justify-content: center;
}

.page-title{
    margin-bottom: 40px;
}

.project-image img{
    object-fit: cover;
    width: 100%;
    height: 500px;
}

.project-details {
    display: flex;
    width: 30%;
    height: 500px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-left: 35px;
}
  
.project-details a {
    color: black;
    font-weight: bold;
}
  
.project-details a:hover {
    color: blue;
}

.project-name{
    font-size: 20px;
}

.project-description{
    margin-top: 20px;
}
