.contact {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-image: url("../../../public/backs/TopOfGraysPeak.jpeg");
  background-size: cover;
  background-position: center;
}

.contactContainer {
  position: relative;
  z-index: 1;
  padding: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  margin: 0px auto 40px auto;
  max-width: 80%;
  transform: translateY(20px);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
  .contactContainer {
    flex-direction: column;
    justify-content: flex-start;
  }
}
