.project { 
  text-align: center;
  padding-top: 5%;
}

.projectDetails {
  border-style: solid;
  border-color: white;
  border-radius: 20px;
}

.projectName {
  font-size: 30px;
  font-style: italic;
  padding-bottom: 5%;
}

.projectDescription {
  padding-bottom: 2%;
}

.learnMoreLink {
  text-decoration: underline;
}

.learnMoreLink:hover {
  color: lightblue;
}

.contactImages {
  width: 7%;
  height: 7%;
}

.mainContact {
  margin-top: 5%;
  width: 70%;
}

/* style.module.css */
.contactForm {
  width: 300px; 
  margin: 0 auto;
}

.formGroup {
  margin-bottom: 20px;
}

.label {
  display: block;
  margin-bottom: 5px;
}

.inputField,
.textareaField {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.textareaField {
  height: 120px; 
}

.submitButton {
  text-align: center;
}

