.blog_post {
    margin: 20px;
    padding: 20px;
    background-color: #C9B7C4;
    text-align: center;
    border-radius: 5px;

    display: flex;
    align-items: row;
    justify-content: space-around;
    align-items: center;
}

.blog_title {
    text-align: center;
}

.blog_date {
    color: #303133;
}

.blog_img {
    height: 100%;
    width: 100%;
    border-radius: 2.5px;
}

.blog_link {
    text-decoration: none;
    color: #303133;
}

.blog_link:hover {
    color: #A26E94;
}