/* * {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  background-color: rgb(250, 249, 246);
  font-family: "Inter", sans-serif;
  position: relative;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

main {
  padding: 0 20px 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(250, 249, 246);
  height: 85vh;
  overflow: auto;
}

ul {
  margin-left: 15px;
}

.page-title {
  font-size: 35px;
}

.green-emphasis {
  color: #3a5a40;
  font-weight: 600;
}

.underline {
  color: #3a5a40;
  font-style: italic;
} */
