.resume {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background-color: rgba(4, 9, 30, 0.3);
    border: 5px solid black;
    border-radius: 10px;
    border-style: double;
    font-size: 15pt;
}

.page-title {
    font-weight: bold;
    font-size: 25pt;
}

.resume a {
    align-self: center;
    color: black;
}

.resume section {
    padding: 20px;
}

.section-title {
    font-weight: bold;
    font-size: 20pt;
}

.entry {
    padding: 5px;
}