.blog-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--cg-light-beige);
    border: 1px solid var(--cg-beige);
    border-radius: 5px;
  }