:root {
  /* variables */
  --cg-black: rgb(30, 32, 32);
  --cg-blue: rgb(36, 94, 255);
  --cg-grey: rgb(243, 243, 243);
  --cg-white: rgb(255, 255, 255);
}

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@300;400;600;700&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
  background: var(--cg-grey);
  background-image: url("background2.jpg");
  background-size: cover;
  position: relative;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

/* CSS for navigation */

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 40%;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  background-color: var(--cg-black);
  color: var(--cg-white);
  padding: 10px 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;

  /* Debug border */
  /* border: solid red; */
}

.nav-list {
  display: flex;
  flex-direction: row;
  position: relative;
  right: 30px;
  list-style: none;

  /* Debug border */
  /* border: solid blue; */
}

.navbar a {
  color: rgb(225, 225, 210);
  font-weight: bold;
  margin: 0 12px;
  text-decoration: none;
  letter-spacing: 2px;

  font-family: Lato;
}

.navbar a:hover {
  color: rgb(15, 77, 17);
  text-decoration: underline;
}

.navbar a:active {
  color: rgb(15, 77, 17);
}

.logo a {
  font-family: Georgia;
}

.logo a:hover {
  text-decoration: navajowhite;
}

main {
  padding: 0 0px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-title {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-family: Georgia;
}

/* CSS for portfolio grid */

.project {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  margin: 1em 0 2em 0;
}

.item-link {
  width: 70%;
}

.project-image {
  object-fit: cover;
  width: 100%;
  height: 500px;
  flex-basis: 50px;
  flex-grow: 2;
}

.project-details {
  display: flex;
  background-color: var(--cg-white);
  width: 30%;
  height: 500px;
  flex-shrink: 1;
  padding: 0 20px;
  margin: 0px;
  line-height: 1.5;
  overflow: scroll;

  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.project-details a {
  color: var(--cg-black);
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
}

.project-details a:hover {
  color: var(--cg-blue);
  text-decoration: underline;
}

.project-details {
  font-weight: lighter;
}

.project-name {
  font-weight: bold;
  font-size: 20px;
}

/* CSS for home page */

.about {
  /* align-items: center;
  justify-content: space-around;
  align-content: center; */

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #474a39a9;
  border: 1px solid #ccc;
  border-radius: 5px;
  /* vertical-align: middle; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.about-image img {
  max-width: 300px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: block;
  padding: 5px 7px;
  text-align: center;

  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
}

.about-text {
  flex: 1;
  margin-left: 20px;
  -webkit-text-fill-color: #ccc;
  padding: 5px 7px;
  text-align: center;
}

.about-text h2 {
  font-size: 24px;
  margin-bottom: 10px;
  padding: 5px 7px;
  text-align: center;
}

.about-text p {
  font-size: 16px;
  line-height: 1.5;
}

/* CSS for resume page */

.button {
  background-color: var(--cg-black);
  border: none;
  color: var(--cg-white);

  font-family: monospace;

  padding: 5px 7px;
  text-align: center;

  border-radius: 2px;
}

.button:hover {
  background-color: var(--cg-blue);
}

.resume h2 {
  font-family: Georgia;
}

/* CSS for contact form */

label {
  display: block;
  margin-bottom: 8px;
  font-family: Georgia;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  resize: none;
}

/* Add some spacing to the form */
form {
  width: 500px;
  margin: 0 auto;
}

/* CSS for footer */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cg-black);
  color: var(--cg-white);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.section {
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.section-title {
  flex: 1;
  margin-left: 10px;
}

.entry-title {
  font-size: 24px;
  margin-bottom: 10px;
  align-items: center;

  padding: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: 5px;
}

.entry-info {
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 5px;
}

.resume {
  background: var(--cg-grey);
  background-image: remove;
  padding: 20px;
}

.skill-list {
  font-size: 16px;
  line-height: 1.5;
  padding: 5px;
  text-align: center;
  display: flex;
  align-items: left;
  justify-content: space-between;
}

.blog-list {
  background-color: rgba(236, 255, 210, 0.8);
  width: 500px;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 50px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.blog-container {
  background-color: rgba(236, 255, 210, 0.8);
  width: 500px;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 50px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.post-preview {
  display: grid;
  margin-bottom: 20px;
  border-bottom: 3px solid #001b3b;
  padding-bottom: 10px;
}

.post-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.post-description {
  font-size: 1em;
  margin-bottom: 10px;
  text-align: left;
}

.blog-image img {
  display: flex;
  justify-content: center;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
