* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  background-color: rgb(250, 249, 246);
  font-family: "Inter", sans-serif;
  position: relative;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

main {
  padding: 0 20px 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(250, 249, 246);
  height: 80vh;
}

.page-title {
  font-size: 35px;
}

/* CSS for navigation bar */

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 7%;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  background-color: #3a5a40;
  color: rgb(250, 249, 246);
  padding: 10px 0px;

  /* Debug border */
  /* border: solid red; */
}

.nav-list {
  display: flex;
  flex-direction: row;
  position: relative;
  right: 30px;
  list-style: none;
}

.navbar a {
  color: rgb(250, 249, 246);
  font-weight: bold;
  margin: 0 6px;
  text-decoration: none;
  letter-spacing: 2px;
  padding: 12px;
}

.nav-list a:hover {
  text-decoration: underline;
  background: rgb(250, 249, 246);
  color: #3a5a40;
}

.monogram {
  padding-left: 20px;
  width: 215px;
}

/* CSS for page footer */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3a5a40;
  color: rgb(250, 249, 246);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  padding: 7px 0px;
}

/* CSS For Index.HTML hero section styling */

.about {
  border: 1px solid lightgray;
  border-radius: 5px;
  display: flex;
  width: 60%;
  height: auto;
  justify-content: center;
  padding: 32px 12px;
}

#profile-image {
  height: 500px;
  width: auto;
  border-radius: 3px 0px 0px 3px;
  background: yellow;
}
.about-text {
  padding: 25px;
  background: #588157;
  color: rgb(250, 249, 246);
  border-radius: 0px 3px 3px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero {
  font-size: 50px;
  padding-bottom: 25px;
}

.center-hero-content p {
  margin-bottom: 12px;
}

.about-text p {
  width: 600px;
}
/* CSS For Selectors */

[download] {
  background: #3a5a40;
  color: rgb(250, 249, 246);
  padding: 8px;
  text-decoration: none;
}

[download]:hover {
  background: #588157;
}

/* CSS For Contact Form Page */

.contact-form-holder {
  border: 1px solid lightgray;
  background: #f1f1f1;
  border-radius: 5px;
  width: 550px;
  height: 550px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.comment {
  font-style: italic;
}

.form-information {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 45px;
  margin-bottom: 15px;
}

.form-information h1 {
  padding-bottom: 10px;
}

#contact-form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-top: 25px;
}

input,
textarea {
  background: rgb(250, 249, 246);
  border: 1px solid lightgray;
  height: 35px;
}

input[type="submit"] {
  background: #588157;
  color: rgb(250, 249, 246);
  padding: 5px;
  margin-top: 20px;
  border: none;
}
