/*
--text: #020203;
--background: #fcfcfd;
--primary: #b2aacf;
--secondary: #d8d5e7;
--accent: #655699; 
*/

* {  
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
  }

  html{
    scroll-behavior: smooth;
  }

  #link{
    text-decoration: none;
    color: #655699 ;
  }

/*NAV-HEADER*/

.nav-container {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: transparent;
    position: fixed;
    margin-top: 15px;
    font-weight: bold;
}

.nav-container ul{
    list-style: none;
    background-color: rgba(216, 213, 231, 0.5);
    border-radius: 20px;
    padding: 10px 5px 10px;
}

.nav-container ul li {
    display: inline;
    margin: 1rem;
}

.nav-container ul li a {
    color: #020203;
    text-decoration: none;
    font-size: 1.5rem;
}

.nav-container ul li a:hover{
    color: #655699;
}

@media screen and (max-width: 600px){
    .nav-container ul li a{
        font-size: 0.6rem;
    }
    .nav-container ul{
        padding: 0px 0px 5px;
    }
} 


/*HOME*/

#particles-js{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90vh;
    background-color: #FCFCFD;
    color: #020203;
}

.home-container{
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: space-between;
    align-items: center;
}

.home-container h2{
    color: #020203;
    text-align: center;
    background-color: transparent;
    font-weight: bold;
    font-size: 4rem;
}

#line {
    height: 3px;
    width: 80%;
    background-color: #655699;
    margin: 50px 0px;
}

#line2 {
    height: 3px;
    width: 40%;
    background-color: #655699;
    margin: 50px 0px;
}

.socials-container img{
    width: 50px;
    height: 50px;
    text-align: center;
    margin: 20px;
}

.socials-container a img:hover,
#round:hover{
    filter: brightness(60%)
}

#round{
    border-radius: 50%;
    border: 1px black solid;
}

@media screen and (max-width: 600px) {
    .home-container h2{
        font-size: 2.5rem;
    }

    .socials-container img{
        width: 40px;
        height: 40px;
        text-align: center;
        margin: 20px;
    }
}

/*ARROW*/

.arrow-container{
    display: flex;
    justify-content: center;
    background-color: #FCFCFD;
    height: auto;
}

#arrow {
  box-sizing: border-box;
  height: 50px;
  width: 50px;
  border-style: solid;
  border-color: #020203;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms
}

#arrow:hover {
    border-bottom-width: 4px;
    border-right-width: 4px;
}

/*MAIN*/

.main-container{
    background-color: #FCFCFD;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container h3{
    color: #020203;
    text-align: center;
    font-size: 3rem;
    padding-top: 100px;
}

.main-container p{
    font-weight: bold;
    color: #020203;
}

@media screen and (max-width:500px){
    .main-container h3{
        font-size: 2.5rem;
    }
}

/*ABOUT*/

.inner-about-container {
    display: flex;
    justify-content: space-between;
}

.text-container {
    flex: 1;
    width: auto;
    padding: 30px;
    border-radius: 15px;
    margin: 0px 100px 0px;
}

.text-container h2{
    font-size: 3rem;
    color: #020203;
    padding-bottom: 30px;
}

#name{
    color: #655699;
}

.text-container p {
    padding-bottom: 8px;
    font-size: 1.1rem;
}

.text-container img{
    padding-top: 10px;
    width: 80px;
}

.image-container img {
    width: 220px;
    height: 286px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}



@media screen and (max-width: 700px){
    .inner-about-container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .text-container {
        width: 80%;
    }
    .text-container p{
        font-size: 0.9rem;
    }

    .image-container img {
        margin-top: 20px;
        transform: scale(0.8);
    }
}

/*PORTFOLIO*/

#portfolio-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project{
    text-align: center;
    width: 40%;
    background-color: #d8d5e7;
    padding: 20px;
    margin: 50px 100px 50px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project h2 {
    padding-bottom: 15px;
    font-weight: bold;
}

.project h1{
    color: #655699;
    font-size: 1rem;
    padding-bottom: 20px;
    font-style: italic;
}

.project p {
    padding-bottom: 20px;
}

.project:hover{
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 1);
    cursor: pointer;
    transform: scale(1.0055);
}

.date{
    color: #655699;
}

/*CONTACT*/

.contact-container{
    width: 100%;
    height: 300px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.contact-container p {
    text-align: center;
    margin: 0px 20px 0px;
    font-size: 1.1rem;
} 

/*FOOTER*/

.footer-container{
    width: 100%;
    height: auto;
    background-color:#d8d5e7;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.footer-socials{
    display: flex;
    flex-direction: row;
}

footer img{
    width: 30px;
    height: 30px;
    text-align: center;
    margin: 15px;
}

#button {
    color: black;
    padding: 20px 20px 20px;
    border: 2px black solid;
    text-decoration: none;
    margin-bottom: 15px;
    border-radius: 5px;
    font-weight: bold;
}
#button p {
    font-weight: bold;
}
#button:hover {
    background-color: #655699;
    color: white;
}
