html {
    height: 100%;
  }
  
  body {
    background-color: white;
    position: relative;
    min-height: 100vh;
    padding: 0;
    margin: 0;
  }
  
  main {
    padding: 0 20px 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  /* CSS for navigation bar */
  
  .navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    height: 7%;
    z-index: 10;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  
    background-color: #042908;
    color: white;
    padding: 0px 0px;
  
    /* Debug border */
    /* border: solid red; */
  }
  
  .nav-list {
    display: flex;
    flex-direction: row;
    position: relative;
    right: 30px;
    list-style: none;
  }
  
  .navbar a {
    color: white;
    font-weight: bold;
    margin: 0 12px;
    text-decoration: none;
    letter-spacing: 2px;
  }
  
  /* CSS for page footer */
  
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #042908;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
  }
  
  .project-details {
    text-align: center;
  }

  .about-text {
    text-align: center;
  }

  .about-image {
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #042908;
  }
  
  .section {
    border: 3px solid #042908;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .blog-description {
    text-align: left;
  }

  /* .blog-list {
    text-align: center;
  } */

  .page-title {
    text-align: center;
  }

  .post-preview {
    text-align: center;
    border: 3px solid #042908;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }

