*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(../img/backgroundr.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

.about-me{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(../img/backgrounded.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;

}

nav img{
    width: 200px;
    height: 200px;
}

.nav-links{
    flex: 1;
    padding-bottom: 80px;
    text-align: right;
}

.nav-links ul li{
    margin-top: -2000px;
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px;

}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;   
    display: block;
    margin: auto;
    transition: 0.5s; 
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -85%);
    text-align: center;
    font-size: 20px;
}

nav .fa{
    display: none;
}

@media(max-width: 700px){
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}
.mh-skills{
    background-image: url(../img/backgroundr.png);

}

.mh-skills .mh-professional-skill{
    padding-right: 60px;
    color: white;
}

.mh-skills .mh-professional-skill h3{
    padding-top: 50px;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 50px;
    font-family: 'Poppins',sans-serif;
}

.mh-professional-skills{
    padding-left: 5%;
}

.mh-professional-skills h3{
    padding-right: 8%;
    padding-top: 80px;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 60px;
    font-family: 'Poppins',sans-serif;
    color: white;
}

.mh-professional-progress li{
    padding-top: 45px;
    padding-right: 60px;
    display: inline-block;
    margin: 0 auto;
    float: none;
    width: 20%;
    margin-bottom: 30px;
    text-align: center;
    color: white;
}

.mh-progress{
    margin-bottom: 10px;
    font: 300px;
    color: white;
}

.mh-progress .progressbar-text{
    color: inherit !important;
    font-family: 'Poppins', sans-serif;
}

.progress.progress-line{
    height: 10px;
    margin-right: 60px;
}

.progress.progress-line .progress-text{
    position: absolute;
    top: 50%;
    left: 100%;
    width: 50px;
    transform: translateY(-35%);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.mh-progress.mh-progress-circle{
    display: inline-block;
    width: 100px;
    height: 100px;
}

.mh-progress path:nth-child(1){
    stroke: rgba(0,0,0,0.7);
}

.mh-progress path:nth-child(2){
    stroke: #0bceaf !important;
}

.candidatos{
    position: relative;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
}

.candidatos .parcial{
    display: inline-block;
    width: 55%;
    vertical-align: middle;
    padding-left: 318px;

}

.candidatos .parcial .info{
    position: relative;
    font-family: 'Poppins', sans-serif;
}

.candidatos .parcial .info .nome{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 15px;
    font-weight: 600;
    opacity: 0.9;
    font-family: 'Poppins', sans-serif;
}

.candidatos .parcial .info .percentage-num{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
    font-weight: normal;
}

.candidatos .parcial .progressBar{
    position: relative;
    width: 100%;
    height: 7px;
    margin: 30px 0 2px;
    border-radius: 10px;
    background: rgba(0,0,0,0.5);
}

.candidatos .parcial .percentagem{
    position: absolute;
    top: 0;
    left: 0;
    height: 7px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #0bceaf;
    -webkit-transition: 3s all;
    -webkit-animation-duration: 3s;
    -webkit-animation-name: animationProgress;
    font-family: 'Poppins', sans-serif;
}

@keyframes animationProgress{
    from{
        width: 0;
    }
}