.home {
  flex: 1;
  padding: 0 20px 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutimage img {
  max-width: 100%;
  height: auto;
  border-radius: 50%; /* Makes the image a circle */
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow */
  transition: transform 0.3s ease; /* Adds a smooth hover effect */
}
.about {
  display: flex;
  max-width: 80%;
  height: auto;
  align-items: center;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.abouttext {
  flex: 1;
  min-width: 80%;
  text-align: center;
}
