* {  
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
  }

  html{
    scroll-behavior: smooth;
  }

  #link{
    text-decoration: none;
    color: #655699 ;
  }

  .round {
    border-radius: 50%;
    border: 1px black solid;
  }