#resume {
    width: 85%;
    background-color: white;
    border-radius: 5px;
    padding: 25px;
    margin-top: 20px;
    margin-bottom: 35px;
}

#resumeheaderlink{
    text-decoration: none;
    color: #20275B;
}