.button {
    background-color: var(--cg-black);
    border: none;
    color: var(--cg-white);
  
    font-family: Serif;
  
    padding: 7px 7px;
    text-align: center;
  
    border-radius: 2px;
  }
  
  .button:hover {
    background-color: var(--cg-blue);
  }
  
  .resume h2 {
    font-family: serif;
  }
