.commentSection {
    margin: 1rem 1rem;
    background-color: white;
    opacity: 0.85;
    line-height: 23px;
    border: 2px solid black;
  }
  
  .user {
    display: flex;
    align-items: center;
  }
  
  .comment {
    margin: 1px 2rem;
  }
  
  .date {
    font-size: xx-small;
    font-weight: lighter;
    margin-left: 5px;
  }
  
  .new textarea form {
    display: block;
  }
  
  .newName,
  .newComment {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
  }
  
  .submit {
    /* display: flex;
    justify-content: space-between;
    align-self: flex-end;
    margin-left: auto; */
    /* width: 20%;
    height: 10%;
    padding: 10px; */
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #c0aeeb;
  }