:root {
  /* Color variables */
  --cg-brown: rgb(79, 55, 42);
  --cg-pink: rgb(255, 105, 180);
  --cg-beige: rgb(250, 218, 221);
  --cg-light-beige: rgb(255, 245, 230);
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--cg-beige);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Navigation styling */
.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--cg-brown);
  color: var(--cg-light-beige);
}

.nav-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-right: 30px;
}

.navbar a {
  color: var(--cg-light-beige);
  font-weight: bold;
  margin: 0 12px;
  text-decoration: none;
  letter-spacing: 2px;
  font-family: Arial, sans-serif;
}

.navbar a:hover,
.navbar a:active {
  color: var(--cg-pink);
  text-decoration: underline;
}

/* Logo styling */
.logo a {
  font-family: Georgia, serif;
  color: var(--cg-light-beige);
  text-decoration: none;
}

.logo a:hover {
  text-decoration: none;
}

/* Main content styling */
main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-title {
  font-size: 40px;
  font-family: Georgia, serif;
  color: var(--cg-brown);
}

/* Portfolio grid styling */
.project {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1em 0 2em 0;
}

.item-link {
  width: 70%;
}

.project-image img {
  width: 50%;
  max-width: 50%;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
}

.project-details {
  background-color: var(--cg-light-beige);
  width: 100%;
  height: 300px;
  padding: 20px;
  margin: 0;
  line-height: 1.5;
  overflow: auto;
  text-align: center;
}

.project-details a {
  color: var(--cg-brown);
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
}

.project-details a:hover {
  color: var(--cg-pink);
}

.project-name {
  font-weight: bold;
  font-size: 20px;
}

/* Home page styling */

.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--cg-light-beige);
  border: 1px solid var(--cg-beige);
  border-radius: 5px;
}

.about-image img {
  max-width: 300px;
  border-radius: 3px;
}

.about-text {
  flex: 1;
  margin-left: 20px;
}

.about-text h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.about-text p {
  font-size: 16px;
  line-height: 1.5;
}

/* Resume page styling */
.button {
  background-color: var(--cg-brown);
  border: none;
  color: var(--cg-light-beige);
  font-family: Arial, sans-serif;
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--cg-pink);
}

.resume h2 {
  font-family: Georgia, serif;
}

.resume {
  margin-bottom: 50px;
}

/* Contact form styling */
label {
  display: block;
  margin-bottom: 8px;
  font-family: Georgia, serif;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--cg-beige);
  border-radius: 4px;
  font-size: 16px;
  resize: none;
}

#submit {
  background-color: var(--cg-brown);
  color: var(--cg-light-beige);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
}

#submit:hover {
  background-color: var(--cg-pink);
}

/* Footer styling */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cg-brown);
  color: var(--cg-light-beige);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.blog-date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--cg-light-beige);
  border: 1px solid var(--cg-beige);
  border-radius: 5px;
}
