.blogPreview {
  display: flex;
  flex: auto;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white;
  margin-bottom: 10px;
  column-gap: 5px;
}

.blogPreviewTitle {
  flex: 2;
}

.blogPreviewInfo {
  flex: 1;
  flex-direction: row;
}

.blogPreviewPic {
  height: 500;
  width: 500;
  flex: 2;
}

.blogPreviewDescription {
  flex: 3;
}

.blogPreviewDate {
  flex: 1;
}
