.commentsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 5px;
  background: #f1f1f1;
  width: 25%;
  height: 100%;
  margin-left: 25px;
}

.commentsList {
  /* Set a fixed height for the commentsList */
  height: 470px; /* Adjust the height as needed */
  /* Add a scrollbar to the commentsList when content overflows */
  overflow-y: auto;
}

.scrollContainer {
  /* Set a max-height to allow scrolling within the container */
  max-height: 100%;
}

/* CSS for screens with a width less than 1000 pixels */
@media (max-width: 1000px) {
  .commentsContainer {
    width: 35%;
  }
}

/* CSS for screens with a width less than 750 pixels */
@media (max-width: 750px) {
  .commentsContainer {
    width: 75%;
    margin-left: 0;
  }
}
