.formContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 25px;
}

.componentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding: 75px 100px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.inputSubmit {
  background-color: rgba(58, 90, 64, 1);
  color: white;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  transition: all 200ms linear;
  border: none;
  padding: 10px 15px;
  margin-top: 15px;
}

.inputSubmit:hover {
  background-color: rgba(58, 90, 64, 2);
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.inputSubmit:focus {
  background-color: rgb(102, 195, 119);
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.emailSentMessage {
  position: absolute;
  top: 0;
  background-color: #dff0d8; /* Example background color */
  text-align: center;
  width: 100%;
  padding: 10px 100px;
}
