
  li.nav {
    display: inline-block;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 24px;
    color: white;
    padding: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: white;
    margin-left: 100px;
  }

  ul.nav-list {
    display: inline;
    margin-left: 10%
  
  }
  ul.course-list {
    font-family: 'Trebuchet MS', sans-serif;
    color: lightgreen;
  }
  
  .entry-title {
    margin-left: 40px;
    color: lightblue;
  }
  
  .skill-list {
    color: orange;
    font-weight: bold;
  }
  
  