.navHead {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 7%;
  z-index: 10;

  flex-direction: column;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  text-align: left;

  background-color: var(--cg-black);
  color: var(--cg-white);
  padding: 0px 0px;

  /* Debug border */
  /* border-color: white;
  border-width: 2px; */
}

.navList {
  display: flex;
  flex-direction: row;
  position: relative;
  left: 15px;
  list-style: none;

  /* Debug border */
  /* border: solid blue; */
}

.navbar a {
  color: var(--cg-white);
  font-weight: bold;
  margin: 0 12px;
  text-decoration: none;
  letter-spacing: 2px;

  font-family: Cambria;
}

.navbar a:hover {
  color: var(--cg-blue);
  text-decoration: underline;
}

.navbar a:active {
  color: var(--cg-blue);
}

.logo {
  position: relative;
  left: 15px;
}

.logo a {
  font-family: Georgia;
}

.logo a:hover {
  text-decoration: None;
}
