.projectname {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
    font-weight: bold;
    display: flex;
    align-items: center; /* Vertically center the content */
    justify-content: center;
}