.formContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
}
.componentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputSubmit {
  background-color: rgba(58, 90, 64, 1);
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  transition: all 200ms linear;
  border: none;
}

.inputSubmit:hover {
  background-color: rgba(58, 90, 64, 2);
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.inputSubmit:focus {
  background-color: rgb(102, 195, 119);
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
