.projectList {
    display:flex;
    flex-direction: column;
    padding: 20px;
}

.projectList > div {
    margin-bottom: 50px; /* Adjust the value as needed */
  }

.page-title {
    font-size: 25pt;
    font-weight: bold;
}