.blog {
    display: flex;
    justify-content: center;
    width: 100%;

  }
.blog h3{
    font-size: large;
    font-weight: bold;
}
.blog div {
    width: 30%;
    background-color: lightblue;
    border: 1px solid blue;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    text-align: center;
}
  
  .schedule{
    max-width: 1000px;
    height: auto;
  }