:root {
  /* variables */
  --cg-white: rgb(214, 202, 191);
  --cg-grey: rgb(181, 188, 184);
  --cg-green: rgb(146, 153, 126);
  --cg-cream: rgb(212, 169, 146);
  --cg-orange: rgb(204, 129, 110);

}

html {
  height: 100%;
  
}

body {
  /*background-color:var(--cg-white);*/
  background-image: url("/flowers.jpg");
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  
}

main {
  padding: 0 20px 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

/* CSS for navigation bar */

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 7%;
  z-index: 10;
  font-family: Times, 'Times New Roman', serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  background-color: var(--cg-orange);
  color: white;
  

}

.nav-list {
  display: flex;
  flex-direction: row;
  position: relative;
  right: 30px;
  list-style: none;
}

.navbar a {
  color: white;
  font-weight: bold;
  margin: 0 12px;
  text-decoration: none;
  letter-spacing: 2px;
}

.navbar a:hover {
  color: var(--cg-cream);
}

.index-title {
  font-family: Times, 'Times New Roman', serif;
}


.logo {
  padding-left: 10px;
}

.about {
  text-align: center;
}

.about-text {
  font-size: 110%;
  text-align: center;
  display: block;
}

main {
  background-color: rgba(214, 202, 191, .85);
  display: flex;
  padding: 30px;
  margin: 5%;
  margin-left: 10%;
  margin-right: 10%;
  
}


/* CSS for page footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  bottom: 0;
  width: 100%;
  height: 2.5rem; 
}


/* Resume download link */
.resume-link {
  padding-bottom: 10px;
  
}
.resume-link:link {
  color: darkslategray;
}

.resume-link:hover {
  color: var(--cg-orange);
}

.resume-link:active {
  color: darkred;
}
.resume-link:visited {
  color: indigo;
}



/* resume sections */

.resume {
  border: 2px solid var(--cg-orange);
  border-radius: 5px;
  background-color: var(--cg-white);
}

.section {
  border-bottom: 2px solid var(--cg-orange);
}

.section-last {
  border-bottom: 0;

}

.resume h2, h3, p {
  padding-left: 10px;
}


/* portfolio */
.project Image {
  transform: scale(.35);
  margin: -250px;
}

.project-details {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

.contact-me{
  background-color: var(--cg-white);
  text-align: center;
  border: 2px solid var(--cg-orange);
  border-radius: 5px;
}
.contact-me p {
  padding: 2%;
}

.blog-title {
  color: var(--cg-orange);
  font-size: 32px;
  font-weight: bold;
  align-items: center;
}


.blog-component {
  display: flex;
  flex-direction: column;
  max-width: 75%;
  width: 75%;
  justify-content: center;
  padding: 1%;
  /* border: 2px solid blue; */
}


.blog-container {
  padding: 1%;
  align-items: center;
  background-color: var(--cg-cream);
}