#name,
#email {
  height: 20px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

#message {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 100%;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

#contact-form {
  display: block;
  margin: 0 3rem;
  background-color: white;
  opacity: 0.85;
  box-sizing: content-box;
  text-align: left;
  padding: 0.5rem;
  border: 4px solid black;
}

.contact {
  display: block;
  position: relative;
  margin: 1rem 3rem;
  background-color: white;
  width: auto;
  opacity: 0.85;
  padding: 0.5rem;
  border: 4px solid black;
  line-height: 23px;
}

.label {
  text-align: left;
}

.submit {
  display: block;
  justify-content: space-between;
  align-self: flex-end;
  margin: auto;
  width: 20%;
  height: 10%;
  padding: 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: #c0aeeb;
}