.projectDetails {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media screen and (max-width: 1000px) {
  .projectDetails {
    width: 70%;
  }
}

.projectTitle {
  text-align: center;
  margin-block-start: 0.25em;
  margin-block-end: 0.5em;
}

.projectDescription {
  text-align: left;
  margin-block-start: 0.5;
  margin-block-end: 0em;
}

.pSideBySide {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media screen and (max-width: 1000px) {
  .pSideBySide {
    flex-direction: column;
    align-items: center;
  }
}

.pSideBySideReverse {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}

@media screen and (max-width: 1000px) {
  .pSideBySideReverse {
    flex-direction: column;
    align-items: center;
  }
}

.line {
  width: 1px;
  height: 250px;
  background-color: black;
}

@media screen and (max-width: 1000px) {
  .line {
    width: 65%;
    height: 1px;
  }
}
