/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/app/components/comment.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.comment_commentSection__dBh9p {
  margin: 3rem 3rem;
  text-align: left;
  box-sizing: 50%;
  width: auto;
  position: relative;
  background-color: white;
  opacity: 0.85;
  padding: 0.5rem;
  line-height: 23px;
  border: 2px solid black;
}

.comment_user___hVm9{
  display: flex;
  align-items: center;
}

.comment_comment__pusK5 {
  margin: 1px 2rem;
}

.comment_date__fIv0u {
  font-size: xx-small;
  font-weight: lighter;
  margin-left: 5px;
}

/*!****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/app/components/commentsection.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************/
.commentsection_commentSection__q8uXg {
  margin: 1rem 1rem;
  background-color: white;
  opacity: 0.85;
  line-height: 23px;
  border: 2px solid black;
}

.commentsection_user__3mlZY {
  display: flex;
  align-items: center;
}

.commentsection_comment__mGJDo {
  margin: 1px 2rem;
}

.commentsection_date__egyEE {
  font-size: xx-small;
  font-weight: lighter;
  margin-left: 5px;
}

.commentsection_new__5X_mJ textarea form {
  display: block;
}

.commentsection_newName__pQt4P,
.commentsection_newComment__FXsLK {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.commentsection_submit__iyxIg {
  /* display: flex;
  justify-content: space-between;
  align-self: flex-end;
  margin-left: auto; */
  /* width: 20%;
  height: 10%;
  padding: 10px; */
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: #c0aeeb;
}

/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/app/blog/blog.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.blog_pageTitle__Lhh8f {
  margin: 3rem 3rem;
  text-align: center;
  background-color: white;
  opacity: 0.85;
  box-shadow: 5px 5px 5px black;
  box-sizing: 50%;
  border: 4px solid black;
}

.blog_blog__AZYk6 {
  margin: 3rem 3rem;
  text-align: center;
  box-sizing: 50%;
  width: auto;
  border: 4px solid black;
  display: block;
  position: relative;
  background-color: white;
  opacity: 0.85;
  padding: 0.5rem;
  line-height: 23px;
}

.blog_commentTitle__z5zWq {
  margin: 1rem 1rem;
}

.blog_comments__hPMOQ {
  margin: 3rem 3rem;
  background-color: white;
  opacity: 0.85;
  display: block;
  position: relative;
  border: 4px solid black;
}

