.blogContainer{
    height: 90vh;
    text-align: center;
    justify-content: center;
}

.blogContainer h1{
    padding-top: 100px;
}

.blogContainer p {
    padding-top: 10px;
}

.blogContainer article{
    padding-top: 50px;
}
