.commentSection {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;  
    border: 3px solid rgb(69, 5, 41); 
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 30px;

  }

