#blogClass{
  padding-left: 200px;
  text-align: center;
  color: white;
  background-color: white;
}
.blogContainer {
  padding-left: 200px;
  text-align: center;

}

#description {
  padding: 200px;
}