/* ProjectPreview.module.css */
.container {
    display: flex;
    align-items: center;
    background: #333;
    color: #fff;
    border-radius: 8px;
    overflow: 'hidden';
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  .image {
    width: 70%;
  }
  
  .content {
    padding: 20px;
    display: flex;
    flex-direction: column; /* this will stack children vertically */
  }

  
  .projectName {
    margin-bottom: 10px;
  }
  
  .pointList {
    list-style: inside; /* or 'disc' if you want the bullets outside */
  }
  
  .p_btn {
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
    display: block;
  }

  .p_btn:hover{
    background-color: blue;
  }

  .viewProjectLink {
    color: #4caf50;
    text-decoration: none;
    display: inline-block; /* makes the link align correctly */
    margin-top: 10px; /* adds space above the link */
  }
  