/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[2].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[12].oneOf[2].use[2]!./node_modules/next/font/google/target.css?{"path":"src\\app\\layout.tsx","import":"Inter","arguments":[{"subsets":["latin"]}],"variableName":"inter"} ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* cyrillic-ext */
@font-face {
  font-family: '__Inter_e66fe9';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/ec159349637c90ad-s.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: '__Inter_e66fe9';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/513657b02c5c193f-s.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: '__Inter_e66fe9';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/fd4db3eb5472fc27-s.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: '__Inter_e66fe9';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/51ed15f9841b9f9d-s.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: '__Inter_e66fe9';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/05a31a2ca4975f99-s.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: '__Inter_e66fe9';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/d6b16ce4a6175f26-s.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: '__Inter_e66fe9';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/c9a5bc6a7c948fb0-s.p.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}@font-face {font-family: '__Inter_Fallback_e66fe9';src: local("Arial");ascent-override: 90.20%;descent-override: 22.48%;line-gap-override: 0.00%;size-adjust: 107.40%
}.__className_e66fe9 {font-family: '__Inter_e66fe9', '__Inter_Fallback_e66fe9';font-style: normal
}

/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./src/app/globals.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  margin: auto;
  overflow: scroll;
}

body {
  flex-direction: column;
  display: flex;
  min-height: 100vh;
}

h1,
h2,
h3,
p,
ul {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

html,
body {
  /* background-image: url(/skyline.jpg); */
  background-color: #F7DCF3;
  background-size: cover;
  color: black;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 999;
  width: 100%;
  left: 0;
  height: 4rem;
  justify-content: space-between;
  display: flex;
  background-color: #fbebff;
  align-items: center;
  color: black;
}

a {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  -webkit-text-decoration: solid;
          text-decoration: solid;
  color: #6c74e4;
}

.pageTitle {
  margin: 3rem 3rem;
  text-align: center;
  background-color: white;
  opacity: 0.85;
  box-shadow: 5px 5px 5px black;
  box-sizing: 50%;
  border: 4px solid black;
}

/* img {
  border-radius: 50%;
  transition: 750ms;
  border: 4px solid black;
  box-shadow: 10px 10px 10px black;
} */

/* img:hover,
img:focus {
  width: 30%;
  height: 90%;
} */

input,
label {
  display: block;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

label {
  font-weight: bold;
  text-align: center;
}

/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/app/components/navbar.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
.navbar_logo__xJ4N9 {
  margin-left: 3rem;
  position: sticky;
}

.navbar_navbar__BJuG4 {
  position: sticky;
  top: 0;
  z-index: 999;
  width: 100%;
  left: 0;
  height: 4rem;
  justify-content: space-between;
  display: flex;
  background-color: #fbebff;
  align-items: center;
  color: black;
}

.navbar_navLinks__U0MI2 li {
  margin-right: 3rem;
  list-style: none;
  display: inline-block;
  justify-content: space-evenly;
  background-color: white;
  border: 10px solid white;
  border-radius: 100px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/app/components/footer.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
.footer_footerStyle__1tkNR {
  background-color: #fbebff;
  width: 100%;
  height: 5rem;
  margin-top: auto;
}

.footer_footerText__2theS {
  margin-left: 0.5rem;
  vertical-align: bottom;
  font-family: Arial, Helvetica, sans-serif;
}

