.pageTitle {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-family: Georgia;
}

.pageContents {
  display: flex;
  flex-direction: row;

  /* overflow: scroll; */
}

.paragraphList {
  flex: 2;
  /* height: 575px; */

  /* overflow: scroll; */
}

.pageImages {
  flex: 1;
  flex-direction: column;
  padding-left: 5%;
  height: 575px;
  
  overflow: scroll;
}

.blogPic {
  /* width: 200px; */
  /* height: 200px; */
  margin-bottom: 10px;
  border-radius: 10px;
}
