/* CSS for contact form */
  
label {
    display: block;
    margin-bottom: 8px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #E6B422;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
  }
  
  /* Add some spacing to the form */
  form {
    width: 500px;
    margin: 0 auto;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #001F3F;
    color: #E6B422;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2.5rem;
    padding: 0 20px;
}

#submit{
    display: flex;
    background-color: #001F3F;
    color: #E6B422;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 25px;
}
  
#submit:hover {
    background-color: #E6B422;
    color:#001F3F
}

  