.bordered_container {
    border: 2px solid black;
    display: grid;
    grid-template-columns: auto auto;
    padding: 20px;
    column-gap: 30px;
    margin: 2vw 5vw 2vw 5vw;
    position: relative;
}

.button_link {
    color: white;
    text-decoration: none;
}