.projectDetails {
  max-width: 50%;
}

.projectDetails2 {
  max-width: 40%;
}

@media screen and (max-width: 1000px) {
  .projectDetails {
    max-width: 70%;
  }

  .projectDetails2 {
    max-width: 70%;
  }
}

.projectTitle {
  max-width: 80%;
  transform: translateX(10%);
}

.projectDescription {
  text-align: left;
}

.pSideBySide {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom: 1px solid black;
}

.pSideBySideEnd {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}

@media screen and (max-width: 1000px) {
  .pSideBySide {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom: 1px solid black;
  }

  .pSideBySideEnd {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

.pSideBySide:hover {
  background-color: rgba(200, 200, 200, 0.8);
}

.pSideBySideEnd:hover {
  background-color: rgba(200, 200, 200, 0.8);
}