.textbox1 {
  align-self: center;
  height: 48px;
  width: 200px;
  resize: None;
}

@media screen and (max-width: 1000px) {
  .textbox1 {
    height: 80px;
    width: 150px;
  }
}

.textbox2 {
  align-self: center;
  height: 160px;
  width: 400px;
  resize: None;
}

@media screen and (max-width: 1000px) {
  .textbox2 {
    height: 224px;
    width: 300px;
  }
}
