.projectSection {
  font-family: "Merienda";
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-image: url("../../../public/backs/LookoutMountain.jpg");
  background-size: cover;
  background-position: center;
}

.projectContainer {
  position: relative;
  z-index: 1;
  padding: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.85);
  margin: 0px auto 40px auto;
  max-width: 80%;
  transform: translateY(20px);
}

.projectDetails {
  max-width: 50%;
}

.projectDetails2 {
  max-width: 40%;
}

@media screen and (max-width: 1000px) {
  .projectDetails {
    max-width: 70%;
  }

  .projectDetails2 {
    max-width: 70%;
  }
}

.projectTitle {
  max-width: 80%;
  transform: translateX(10%);
}

.projectDescription {
  text-align: left;
}

.pSideBySide {
  margin-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom: 1px solid black;
}

.pSideBySideEnd {
  margin-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}

@media screen and (max-width: 1000px) {
  .pSideBySide {
    margin-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom: 1px solid black;
  }

  .pSideBySideEnd {
    margin-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
