  /* CSS for navigation */
  
  .navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    height: 7%;
    z-index: 10;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  
    background-color: var(--cg-black);
    color: var(--cg-white);
    padding: -15px 0px;
  
    /* Debug border */
    /* border: solid red; */
  }
  
  .nav-list {
    display: flex;
    flex-direction: row;
    position: relative;
    right: 30px;
    list-style: none;
  
    /* Debug border */
    /* border: solid blue; */
  }
  
  .navbar a {
    color: var(--cg-white);
    font-weight: bold;
    margin: 0 12px;
    text-decoration: none;
    letter-spacing: 2px;
  
    font-family: monospace;
  }
  
  .navbar a:hover {
    color: var(--cg-blue);
    text-decoration: underline;
  }
  
  .navbar a:active {
    color: var(--cg-blue);
  }
  
  .logo{
    font-family: Georgia;
    margin-left: 16px;
    font-size: 22px;
    letter-spacing: 5px;
  }
  
  .logo:hover {
    text-decoration: blue;
  }
  
  