.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--cg-grey); /* Light grey background */
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
.about-image img {
    max-width: 300px;
    border-radius: 10px;
    margin-left: 40px;
    margin-right: 20px;
  }
  
.about-text {
    flex: 1;
    margin: 20px 100px;
    padding-left: 70px;
    font-family: Arial, sans-serif;
  }
  
.about-text h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
.about-text p {
    font-size: 16px;
    line-height: 1.5;
  }
  
.about-text strong {
    color: var(--cg-pink);
  }