@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

.page-title {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-family: 'Sacramento', cursive;
    color: var(--cg-pink); /* Pink page title color */
  }