.postPreview {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.postTitle {
  font-size: 24px;
  color: #333; /* Dark text color */
  margin-bottom: 10px;
}

.postDescription {
  color: #555; /* Medium gray text color */
  margin-bottom: 10px;
}

.postedInfo {
  color: #777; /* Light gray text color */
  margin-bottom: 10px;
}

.readMoreLink {
  color: #ff69b4; /* Pink color for links */
  text-decoration: none;
  display: inline-block;
  padding: 5px;
  border-bottom: 2px solid #ff69b4; /* Pink border bottom on hover */
  transition: border-bottom 0.3s ease;
}

.readMoreLink:hover {
  border-bottom: 2px solid transparent; /* Remove border bottom on hover */
}
