.body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    background-color: rgb(250, 238, 221);
}

.page-title {
    font-family: Georgia, serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

.p {
    font-family: Georgia, serif;
    font-weight: normal;
    font-size: 25px;
    text-align: center;
    margin: 10px;
    padding: 5px;
    color:#bd6c6c;
}