.blogData {
    font-weight: bold;
    font-size:20px;
  }

  .blogTitle {
    font-weight:bold;
    font-size:30px;
  }

  .blog {
    max-width:500px;
    padding: 20px 20px 40px 20px;
    margin-top:40px;
  }

  .post {
    display: flex;    
    justify-content: center;
  }

.blogContainer {
    margin-top:10px;
}

.blog:hover {
    border-width:2px;
    border-color:black;
    background-color:rgb(236, 236, 236);
}

.image {
    margin-top:20px;
}