.project {
    /* Hhave it flex so we can have image left and content right */
    display: flex;
    flex-direction: row; 
    align-items: center;
/* Try deleting this */
    justify-content: space-between; 
    padding: 20px;
    /*  Make it in a block */
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 5px;
    
    margin-bottom: 15px;
/* Universal Font */    
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    resize: none;
    
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;

}

.image {
    border: 1px solid #ccc;
    border-radius: 5px;
}

.content { 
    display: flex;
    flex-direction: column;
    align-items: center;
    /* locking the width allows it to not mess with the sizes */
    width: 400px;
}   


.link {
    color: black;
    text-decoration: none;
    letter-spacing: 2px;
}
.title {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.description {
    font-size: 15px;
    color: grey;
    text-align: center;
}

