.project {
    text-align: center;
}

.project-details {
    text-align: center;
}

.learn-more {
    text-align: center;
}

.screenshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

