* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(250, 249, 246);
  font-family: "Inter", sans-serif;
  position: relative;
  height: calc(93vh - 7%);
  padding: 0;
  margin: 0;
}

main {
  padding: 0 20px 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(250, 249, 246);
  margin-top: 7%;
}

ul {
  margin-left: 15px;
}

.page-title {
  padding-top: 25px;
  font-size: 35px;
}

.green-emphasis {
  color: #3a5a40;
  font-weight: 600;
}

.underline {
  color: #3a5a40;
  font-style: italic;
}

a {
  text-decoration: none;
}

/* CSS for Blog Page */

.blogContent,
.generalContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
}

.blogsHolder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 5px;
  background: #f1f1f1;
  width: 50%;
  height: 100%;
}

.blogsHolder h1 {
  margin-bottom: 10px;
}

.blogsPreviewHolder {
  width: 60%;
  justify-content: center;
  align-items: center;
  display: flex;
}

/* CSS For Index.HTML hero section styling */

.about {
  border: 1px solid lightgray;
  border-radius: 5px;
  display: flex;
  width: 60%;
  height: auto;
  justify-content: center;
  padding: 32px 12px;
  background: #f1f1f1;
  margin-bottom: 35px;
}

#profile-image {
  height: 400px;
  width: auto;
  border-radius: 3px;
}
.about-text {
  padding: 25px;
  border-radius: 0px 3px 3px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero {
  font-size: 50px;
  padding-bottom: 25px;
}

.center-hero-content p {
  margin-bottom: 12px;
}

.about-text p {
  width: 600px;
}
/* CSS For Selectors */

[download] {
  background: #3a5a40;
  color: rgb(250, 249, 246);
  padding: 8px;
  text-decoration: none;
  height: 18px;
}

[download]:hover {
  background: #588157;
}

/* CSS For Contact Form Page */

.contact-form-holder {
  border: 1px solid lightgray;
  background: #f1f1f1;
  border-radius: 5px;
  width: 550px;
  height: 550px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.comment {
  font-style: italic;
}

.form-information {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 45px;
  margin-bottom: 15px;
}

.form-information h1 {
  padding-bottom: 10px;
}

#contact-form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-top: 25px;
}

input,
textarea {
  background: rgb(250, 249, 246);
  border: 1px solid lightgray;
  height: 35px;
}

input[type="submit"] {
  background: #588157;
  color: rgb(250, 249, 246);
  padding: 5px;
  margin-top: 20px;
  border: none;
}

/* CSS For Resume Page */

.resume-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 5px;
  background: #f1f1f1;
  padding-top: 20px;
}

.resume-top-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.resume-top-content h1 {
  margin: 4px;
  width: 175px;
}

section.section {
  margin-bottom: 20px;
}

section.section,
section.section-end {
  width: 750px;
  border-bottom: 2px solid #f1f1f1;
}

h2.section-title {
  margin-bottom: 17px;
}

h3.entry-title-end {
  margin-bottom: 8px;
}

.resume {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: column;
}
.entry-info,
.list-title {
  font-style: italic;
  margin-bottom: 6px;
}

.list-description {
  margin-bottom: 12px;
}
.entry {
  margin-bottom: 20px;
}

.skill-list {
  margin-bottom: 20px;
}

.about-image {
  position: relative;
  overflow: hidden; /* Clip the image if it overflows the div */
}

/* CSS For Portfolio Page */

.portfolio-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 5px;
  background: #f1f1f1;
  width: 50%;
  text-decoration: none;
  color: black;
}

.portfolio-content h1 {
  padding-top: 30px;
}

.blogPostImage {
  width: 50%;
  height: auto;
  padding: 5px;
}

.projectDescription {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 600px;
}

.projectDate {
  margin-top: 5px;
}
.individualBlogPost {
  border: 1px solid lightgray;
  border-radius: 5px;
  background: #f1f1f1;
  padding: 20px;
  width: 20%;
  margin-bottom: 20px;
  transition: transform 0.2s;
  text-decoration: none;
  color: black;
  margin: 20px;
}

.individualBlogPost:hover {
  cursor: pointer;
  transform: scale(1.03);
}

#blog-list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.blogPageInformation {
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 25px;
}

.blogPostDescription {
  margin-bottom: 8px;
}

.blogPostDate {
  margin-bottom: 30px;
  font-style: italic;
}
.blogPostContent {
  width: 70%;
  margin-bottom: 30px;
  text-align: center;
}

.contentNotLoaded {
  padding-bottom: 100px;
}
