    /* CSS for Index Page */
    .about {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
        background-color: rgba(4, 9, 30, 0.3);
        border: 5px solid black;
        border-radius: 10px;
        border-style: double;
    }
    
    .about-text {
        font-size: 20pt;
    }
    
    .about-image img {
        max-width: 300px;
        border-radius: 50%;
        border: 1px solid black;
        align-self: left;
        margin-right: 10px;
        /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
    }
    
    .about-image2 img {
        max-width: 300px;
        border-radius: 5%;
        border: 1px solid black;
        align-self: right;
        margin-left: 10px;
        /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
    }