    /* CSS for Blog Page */
    .blogList {
        display:flex;
        flex-direction: column;  
        padding: 20px;
    }
    
    .blogList > div {
        margin-bottom: 50px; /* Adjust the value as needed */
      }

      .page-title {
        font-size: 25pt;
        font-weight: bold;
    }