.nav-container {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: transparent;
    position: fixed;
    margin-top: 15px;
    font-weight: bold;
}

.nav-container ul{
    list-style: none;
    background-color: rgba(216, 213, 231, 0.5);
    border-radius: 20px;
    padding: 10px 5px 10px;
}

.nav-container ul li {
    display: inline;
    margin: 1rem;
}

.nav-container ul li a {
    color: #020203;
    text-decoration: none;
    font-size: 1.5rem;
}

.nav-container ul li a:hover{
    color: #655699;
}

@media screen and (max-width: 600px){
    .nav-container ul li a{
        font-size: 0.6rem;
    }
    .nav-container ul{
        padding: 0px 0px 5px;
    }
} 