.navbar{
    top: 0;
    background-color: rgb(191, 46, 46);
    color:rgb(255, 255, 255);
    padding-top: 5px;
    padding-bottom: 5px;
}

.navlist{
    text-align: right;
    font-size: 20px
}

.navlist .navpage{
    margin-left: 25px;
    margin-right: 25px;
    text-decoration: none;
}

.navpage:link {
    color: white;
}

.navpage:visited {
    color: white
}

.navpage:hover {
    color: blue;
    text-decoration: none;
}