:root {
  /* variables */
  --cg-purple: rgb(71, 49, 152);
  --cg-blue: rgb(4, 150, 255);
}

html {
  height: 100%;
}

body {
  font-family: "Fjalla One";
  background-color: white;
  padding-top: 10 px;
  position: relative;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

body main h1,
.section {
  font-family: "Fjalla One";
}

main {
  font-family: "Libre Baskerville";
  padding: 0 20px 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* CSS for navigation bar */

.logo {
  font-size: 30px;
  padding-left: 10px;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 7%;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  background-color: var(--cg-purple);
  color: white;
  padding: 0px 0px;

  /* Debug border */
  /* border: solid red; */
}

.nav-list {
  display: flex;
  flex-direction: row;
  position: relative;
  right: 30px;
  list-style: none;
}

.navbar a {
  color: white;
  font-weight: bold;
  margin: 0 12px;
  text-decoration: none;
  letter-spacing: 2px;
}

.nav-button {
  font-size: 20px;
}

.nav-button:hover {
  color: var(--cg-blue);
}

/* CSS for home page */

.about {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 40px;
  padding: 40px;
  background-color: rgb(220, 240, 255);
  border: 1px solid var(--cg-blue);
  border-radius: 5px;
}

/* CSS for portfolio page */
.project-name {
  font-family: "Fjalla One";
  color: var(--cg-blue);
  font-size: 20px;
}

/* CSS for resume page */

.button {
  background-color: var(--cg-purple);
  border: solid;
  color: white;

  font-family: Fjalla One;

  padding: 7px 10px;
  text-align: center;

  border-radius: 2px;
}

.button:hover {
  background-color: var(--cg-blue);
}

.resume {
  padding-inline-start: 25%;
  padding-inline-end: 25%;
}
.entry,
.skill-list,
.course-list {
  font-family: "Libre Baskville";
}

.section h2 {
  font-family: "Fjalla One";
  color: var(--cg-blue);
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: -5px;
}

.entry-title {
  font-family: "Fjalla One";
}

/* CSS for contact form */

label {
  display: block;
  margin-bottom: 8px;
  font-family: "Libre Baskerville";
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--cg-blue);
  border-radius: 4px;
  font-size: 16px;
  resize: none;
}

input[type="submit"] {
  font-family: "Fjalla One";
  font-size: 15px;
  padding: 5px 15px;
  background: var(--cg-purple);
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

/* Add some spacing to the form */
form {
  width: 500px;
  margin: 0 auto;
}

/* CSS for page footer */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cg-purple);
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
