.blogpage, .projectpage {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.allcomments{
    padding-top: 50px;
    padding-bottom: 30px;
}

.blogcomment{
    border: 1px solid #000;
    padding-bottom: 20px;
    margin: 20px;
}

.commentuser{
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 20px;
}